# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output (Managed by @eternagame/nx-plugin)
dist/

# Temps and caches (Managed by @eternagame/nx-plugin)
tmp
.temp
.cache
*.tsbuildinfo

# Dependencies (Managed by @eternagame/nx-plugin)
node_modules

# IDEs and editors (Managed by @eternagame/nx-plugin)
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode (Managed by @eternagame/nx-plugin)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files (Managed by @eternagame/nx-plugin)
.env.*.local
.env.local

# Diagnostic reports (https://nodejs.org/api/report.html) (Managed by @eternagame/nx-plugin)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Test output (Managed by @eternagame/nx-plugin)
coverage/
cypress-run/

# Logs (Managed by @eternagame/nx-plugin)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data (Managed by @eternagame/nx-plugin)
pids
*.pid
*.seed
*.pid.lock

# System Files (Managed by @eternagame/nx-plugin)
.DS_Store
Thumbs.db

# Nx migrations (Managed by @eternagame/nx-plugin)
migrations.json
